#corpo{
    line-height: 1.5; 
    font-family: "Poppins", sans-serif;
    margin-left: 15%;
    padding: 0;
}

footer{
    box-sizing: border-box;
    padding: 70px 0;
}

.container{
    max-width: 1050px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ul-rodape{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #0500FF;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.ul-rodape li a{
    font-size: 11px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #7a7a7a;
    display: block;
    transition: all 0.3s ease;
}
.ul-rodape li a:hover{
    color: #000000;
    padding-left: 8px;
}