#vagas{
    margin: 50px;
}
#programador{
    margin-bottom: 30px;
    width: 353px;
    height: 400px;
    background: #EEEEEE;
}
.txt{
    padding-left: 20px;
}
.lista-vagas{
    padding-left: 15px;
    list-style: none;
}
.img{
    padding-top: 20px;
    padding-left: 5px;
    width: 302px;
    height: 181px;
}

#financeiro{
    margin-bottom: 30px;
    width: 353px;
    height: 400px;
    background: #EEEEEE;
}
#medicina{
    margin-bottom: 30px;
    width: 353px;
    height: 410px;
    background: #EEEEEE;
}
.btn{
    margin-top: 4%;
    margin-left: 60%;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    color: white;
    background-color: #387cfa;
}
