header{
    min-width: 230px;
    max-width: 1920px;
}
#stitulo{
    position: absolute;
    top: -4px;
    left: 44px;
    color: #0500FF;
}
#servicos{
    position: absolute;
    top: 10px;
    left: 15%;
    list-style: none;
    display: flex;
    min-width: 230px;
    max-width: 1920px;
}
#servicos div{
    display: flex;
    min-width: 230px;
    max-width: 1920px;
}
