#principal{
    background-image: url(backbody.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1680px;
    min-width: 320px; 
    height: 60vh;
    padding-top: 20%;
}
