#titulo-login{
    font-family: 'Poppins', sans-serif;
    margin-left: 7%;
    padding-top: 10px;

    
}
fieldset{
    border: 0;
}
#corpo-login{
    background-color: #f0f8ff;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.input-login{
    border-radius: 5px;
    display: block;
    border: solid 2px black;
    box-shadow: 1px 1px black;
    width: 100%;
}
.campo-login{
    margin: 10px;
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button
{
    border: none;
    margin-top: 10px;
    background-color: rgb(186, 186, 244);
    padding: 8px;
    border-radius: 10px;
    width: 70px;
}